extends ./layout/index

block container
  main.container.mt-5
    .row
      .col-md-5 
        img(src="/img/nosotros.jpg", alt="Nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum nunc ut molestie congue. Sed aliquam enim ante, in accumsan quam imperdiet sed. Nam cursus odio sit amet scelerisque tincidunt. 
        p Duis id libero non lectus feugiat suscipit. Etiam dignissim, ex eget pharetra facilisis, felis nibh elementum sapien, in iaculis lectus tortor quis mi. Sed lectus quam, vulputate et lectus quis, rhoncus dignissim velit. Praesent bibendum felis elit, at mattis diam bibendum imperdiet. Donec cursus orci sed ullamcorper dictum. Nam sit amet elit interdum, sagittis leo nec, suscipit augue. Mauris non nisi placerat, blandit sapien et, viverra tellus. Nulla aliquam malesuada lorem, non malesuada ligula tristique id. Vestibulum varius lacus dui, sit amet volutpat lorem porttitor mattis.
        p Duis fermentum nunc ut molestie congue. Sed aliquam enim ante, in accumsan quam imperdiet sed. Nam cursus odio sit amet scelerisque tincidunt. Nunc nec mauris porta libero consequat fringilla. Vestibulum tincidunt, turpis in suscipit semper, enim velit placerat purus, sit amet pellentesque purus libero id est. Proin ultrices leo non lacus vulputate, in iaculis arcu venenatis. Morbi vel mattis nisl, vel semper mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec posuere sed diam non fermentum. Aliquam in eleifend mi. Sed volutpat enim quis nunc gravida gravida. Morbi ut egestas augue, a suscipit leo. Nulla at tortor nec nibh porta semper non sit amet nulla.
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="Imagen Seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Etiam dignissim, ex eget pharetra facilisis, felis nibh elementum sapien Etiam dignissim, ex eget pharetra facilisis, felis ni
        
        .col-md-4
          img(src="img/icono_destinos.svg", alt="Imagen Destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores destinos
          p Etiam dignissim, ex eget pharetra facilisis, felis nibh elementum sapien Etiam dignissim, ex eget pharetra facilisis, felis ni

        .col-md-4
          img(src="img/icono_precios.svg", alt="Imagen Precios", class="img-fluid mb-4")
          h2.mb-4 Los mejores precios
          p Etiam dignissim, ex eget pharetra facilisis, felis nibh elementum sapien Etiam dignissim, ex eget pharetra facilisis, felis ni
